#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.section-board {
  display: flex;
  flex-direction: column;
}

.section-form {
  display: flex;
  border: solid white;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  width: 10rem;
}

@media (min-width: 780px) {
  .section-board {
    display: grid;
    grid-template-columns: 50% 50%;
  }
}
@media (min-width: 1020px) {
  .section-board {
    grid-template-columns: 25% 25% 25% 25%;
  }
}
